<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a routerLink="">Home</a> | <a routerLink="node">{{pageBreadcrumb}}</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      
      <!-- ============ -->
        <section class="main postlist">
          <article class="post">
            <h1 class="alt"><span>{{pageTitle}}</span></h1><br>
            
            <div><span class="img-border"><img src="assets/images/angular-js-training-indore.png" alt="Angular JS  training in indore | gowebtech"></span></div>
            
            <p align="justify">
            GoWebTech Leading <strong>Training institute in Indore</strong> to learn <strong>Angular JS Training</strong> practically.
            <strong>GoWebTech</strong> has developed a highly specialized corporate training programme.The course is handled by experienced PHP and Angular JS Training developers.</p>
          </article>
          <!-- Course Content-->
          <article class="post">
            <h2>Angular JS Training Course Details</h2>
            <p class="post-meta">Duration  : 1 Month<span> | </span>Live Training In Angular JS<span > | </span> Angular JS Training Training</p>

            <p class="msg success"><strong>Introduction of Angular2.0</strong></p>

            <p class="msg success"><strong>Why we use angular 2.0</strong></p>
            <p class="msg success"><strong>Diference between angular1.0 and angular 2.0</strong></p>
            <p class="msg success"><strong>Introduction of Node.js </strong></p>
            <p class="msg success"><strong>What is NPM</strong></p>
            <p class="msg success"><strong>Before Angular2.0 you now basic concepts of typesctip</strong></p>

            <p class="msg success"><strong>Typescript(Angular2 Development Typescript)</strong></p>
            <p align="justify">
            </p><ul style="font-family:'Open Sans',sans-serif,arial;">
            <li>Overview of typescript</li>
            <li>Difference between javascript and typescript</li>
            <li>Compile and excute typescript program.	</li>
            <li>Typescript syntex</li>
            <li>Variable, Datatype, Operator</li>
            <li>Control statements using typescript</li>
            <li>Function, array, string, union</li>
            </ul>
            <p></p>
            <p class="msg success"><strong>Typescript using object oriented  </strong></p>
            <p class="msg success"><strong>Classes and object define using typescript</strong></p>
            <p class="msg success"><strong>Constructor, Inheritence , Interface</strong></p>
            <p class="msg success"><strong>Namespaces</strong></p>
            <p class="msg info"><strong>Introduction of Angular2.0</strong></p>
            <p class="msg info"><strong>Basic Sturcture of Angular2.0</strong></p>
            <p class="msg info"><strong>What is Modules  Angular2.0</strong></p>
            <p class="msg info"><strong>Define Components</strong></p>
            <p class="msg info"><strong>Templates in Angular2.0</strong></p>
            <p class="msg info"><strong>What is Metadata</strong></p>
            <p class="msg info"><strong>Data Binding in Angular2.0</strong></p>
            <p class="msg info"><strong>First Program of Angular2.0</strong></p>
            <p class="msg info"><strong>User Input in Angular2.0</strong></p>
            <p class="msg info"><strong>Forms in  Angular2.0</strong></p>
            <p class="msg info"><strong>Services in Angular2.0</strong></p>
            <p class="msg info"><strong>Directives in Angular2.0</strong></p>
            <p class="msg info"><strong>Dependency Injuction in Angular2.0</strong></p>
            <p class="msg info"><strong>Making a Template using Angular2.0</strong></p>
          </article>
        </section>
      <!-- ============== -->
    </div>

    <div class="col-md-4">    
      <app-sidebar></app-sidebar>
    </div> 
  </div>
</div>  
