<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a routerLink="">Home</a> | <a routerLink="node">{{pageBreadcrumb}}</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      
      <!-- ============ -->
        <section class="main postlist">
          <article class="post">
            <h1 class="alt"><span>{{pageTitle}}</span></h1><br>
            
            <div><span class="img-border"><img src="assets/images/zend-framework-training.jpg" alt="framework training in indore | gowebtech"></span></div>
            
    <p align="justify">
GoWebTech Leading <strong>Training institute in Indore</strong> to learn <strong>Zend Framework</strong> practically.<br>
Zend Framework is a highly flexible PHP framework. This flexibility makes it a bit complex and steepens the learning curve.<br><br>
 Apart from this there are not many reliable sources.
<strong>GoWebTech</strong> has developed a highly specialized corporate training programme.The course is handled by experienced PHP and Zend Framework developers.</p>
          </article>
          <!-- Course Content-->
          <article class="post">
          <h2>Zend Framework Course Details</h2>
          <p class="post-meta">Duration  : 1 Month<span> | </span>Live Training In FrameWork <span> | </span> Zend Framework Training</p>

          <p class="msg success"><strong>Introduction</strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Introduction of Zend Framework</li>
          <li>Why to use Zend Framework?</li>
          <li>Object Oriented Concepts</li>
          <li>Basic Principles of Zend Framework</li>
          <li>Loosely Coupled Components</li>
          <li>Collection of Components</li>
          <li>Database Integration</li>
          <li>Zend Framework Integration</li>
          <li>Web and CLI Programming</li>
          <li>Use of Search Components</li>
          <li>Use of Database Components</li>
          <li>Handling mail on Web</li>
          </ul><p></p>
            <p class="msg info"><strong>A Live Project Using Zend Framework</strong></p>                    
          </article>
        </section>
      <!-- ============== -->
    </div>

    <div class="col-md-4">    
      <app-sidebar></app-sidebar>
    </div> 
  </div>
</div>  
