<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a routerLink="">Home</a> | <a routerLink="node">{{pageBreadcrumb}}</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
       
      <!-- ============ -->
        <section class="main postlist">
          <article class="post">
            <h1 class="alt"><span>{{pageTitle}}</span></h1><br>
            
            <div><span class="img-border"><img src="assets/images/industrial-training.jpg" alt="Summer Training in Indore "></span></div>
            
            <p align="justify">
GoWebTech, a leading Software Training Institute,Leading Web and Software Development Company provides 6/8 Weeks and 6 Months Industrial Training to B.Tech. MCA BCA BE and other IT Students.
</p>

<p align="justify">
GoWebTech will provide you an opportunity to work with the team of Software Developers of GoWebTech under the guidance of Project Managers. The project based training includes both class room training and once you learn the language and database, you will put on the project. Our core focus is to make the students well verse with the different cycles of Software Development and to provide them hand on experience on Live Projects.</p>

          </article>
          <!-- Course Content-->
          <h2 class="alt"><span>Our Courses</span></h2>
          <br/>
          <ul style="font-family:'Open Sans',sans-serif,arial; font-weight:bold;">
            <li><a routerLink="/php" title="PHP Training in Indore | Shanu Sir">Core/Advance PHP</a></li>
            <li><a routerLink="/oracle-sql" title="Oracle PL/SQL Training in Indore | GoWebTech.co.in">Oracle PL/SQL Training</a></li>
            <li><a routerLink="/java" title="Java Training Indore">Core Java</a></li>
            <li><a routerLink="/advance-java" title="Advance Java Training By shanu sir | GoWebTech.co.in">Advance Java</a></li>
            <li><a routerLink="/android" title="Android Training Program in Indore">Android</a></li>
            <li><a routerLink="/magento" title="Magento Training In Indore | GoWebTech.co.in">Magento</a></li>
            <li><a routerLink="/wordpress" title="Learn Wordpress in Indore | GoWebTech.co.in">Wordpress</a></li>
            <li><a routerLink="/node" title="Learn Node.js in Indore | GoWebTech.co.in">Node.js</a></li>
            <li><a routerLink="/zend-framework" title="Zend FrameWork Training Indore | GoWebTech.co.in">Zend Framework</a></li>
            <li><a routerLink="/cake-php" title="Cake PHP Training Indore | GoWebTech.co.in">Cake PHP</a></li>
            <li><a routerLink="/codeigniter" title="CI Framework Intitute in Indore | GoWebTech.co.in">Codeigniter </a> </li>
            <li><a routerLink="/joomla" title="Joomla Training Intitute in Indore | GoWebTech.co.in">Joomla</a></li>
            <li><a routerLink="/drupal" title="Training in Drupal Indore | GoWebTech.co.in">Drupal</a></li>
            <li><a routerLink="/dotnet" title="C# Training in Indore | GoWebTech.co.in">C#.Net</a></li>
            <li><a routerLink="/yii-framework" title="YII Framework Training in Indore | GoWebTech.co.in">YII Framework</a></li>
            <li><a routerLink="/angular">Angular</a></li>
          </ul>
        </section>
      <!-- ============== -->
    </div>

    <div class="col-md-4">    
      <app-sidebar></app-sidebar>
    </div> 
  </div>
</div>  
