<div class="ftr-outer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3><span>{{websitename}}</span></h3>
        <p>
          GoWebTech is well known organization in the area of Software development, Mobile application development, Web development and acknowledged for giving quality education in domains such as iPhone Training, <a href>Android Training</a>, <a href="">Java Training</a>, <a href>PHP Training</a>, <a href>.Net Training</a>,<a href>Wordpress Training</a>, <a>Magento Training</a>, Framework Training, C Training and C Training. 
        </p>
        <p>
        We have an excellent track record of providing Industrial/Summer/Internship/Corporate Training with highly advanced tools and infrastructure. Our alumini include trainers who have 6-12 years of experience in Software development and Embedded System Design. Our motto is to give high quality industrial Training to the student and equip them with latest technologies. We keep in touch with the latest technologies in the market so that we can deliver them to our students to make them ready for industry needs. The objective of our Industrial Training Program is to create manpower which is required by the Industry in the field of Software development, Mobile Application Development, Web development and Embedded system.
        </p>

        <section class="bottom">
          <!-- <p>Copyright 2015 <a routerLink="#">GoWebTech.co.in</a> | All rights Reserved | Leading PHP Training Center in Indore | Powered By : <a href="http://amuhost.com" target="_blank" title="Domain &amp; Hosting Provider in Indore">AMUHost (Vrinda Softwares)</a></p>
           -->
          <p>Copyright 2015 <a routerLink="#">GoWebTech.co.in</a> | All rights Reserved | Leading PHP Training Center in Indore</p>
          <nav class="social">
          <ul>
          <li><a href="https://www.facebook.com/gowebtechit" target="_blank" class="facebook">Facebook</a></li> 
          <li><a href="" class="googleplus" target="_blank">Google+</a></li>
          <li><a href="http://php-training-indore.blogspot.in/" target="_blank" class="rss">RSS</a></li>
          </ul>
          </nav>
        </section>

      </div>
    </div>
  </div>
</div>