<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a routerLink="">Home</a> | <a routerLink="node">{{pageBreadcrumb}}</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      
      <!-- ============ -->
        <section class="main postlist">
          <article class="post">
          <h1 class="alt"><span>Web Promotion</span></h1><br>

          <span class="img-border"><img src="assets/images/web-promotions.jpg" alt="Web Design &amp; Development Services in Indore "></span>
          <p align="justify">
          SEO, which means <strong>Search Engine Optimization</strong>, is the buzzword in the online marketing era. It can be best describe as an art of using valid keywords and phrases in order to hike the traffic and rankings for the site. There are various steps involved but the keyword research and phrasing is the most important. Using natural SEO services can greatly increase search engine rankings and the amount of traffic coming to your site.</p>
          <h2 class="alt"><span>Our SEO Strategy/Procedure</span></h2><br>

          <p align="justify">1 .Get Online Marketing + Business Related Information From SEO Questionnaire.<br>
          2. Analyzed Keywords<br>
          3. Analyze Site and On Page Optimization with which we can increase site's Ranking,Traffic &amp; conversion.<br>
          4. Send Work &amp; Traffic Report every month<br>
          </p>


          <h2 class="alt"><span>Analysis + Strategy </span></h2><br>
          <p>
          1. Website Analysis<br>
          2. SEO Strategy<br>
          3. Initial Site Analysis Report</p>



          <h2 class="alt"><span>On Page Optimization</span></h2><br>
          <p align="justify">
          1. Website Structure Optimization<br>
          2. Content Optimization*<br>
          3. HTML code optimization*<br>
          4. Meta tag creation &amp; optimization<br>
          5. HTML + XML Sitemap Creation **<br>
          6. Robots.txt Creation + Updation</p>


          <h2 class="alt"><span>Off Page Optimization</span></h2><br>
          <p align="justify">
          1. Manual Search Engine Submission<br>
          2. Manual Search Engine Submission<br>
          3. Google Base Feeds<br>
          4. Classified Site Submissions<br>
          5. Google + Bing + Yahoo Local Business Submission<br>
          6. Yelp + Merchant Circle Business Submission<br>
          </p><h2 class="alt"><span>Social Media Marketing</span></h2><br>
          <p>1. Social bookmarking<br>
          2. (Facebook + Twitter) page optimization </p>
          <h2 class="alt"><span>Traffic + Ranking Report </span></h2><br>
          <p>
          1. Monthly (Traffic + Conversion) Report<br>
          2. Monthly (Work + Ranking) Report
          </p>
          </article>
        </section>
      <!-- ============== -->
    </div>

    <div class="col-md-4">    
      <app-sidebar></app-sidebar>
    </div> 
  </div>
</div>  
 