<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a routerLink="">Home</a> | <a routerLink="node">{{pageBreadcrumb}}</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      
      <!-- ============ -->
        <section class="main postlist">
          <article class="post">
            <h1 class="alt"><span>{{pageTitle}}</span></h1><br>
            
            <div><span class="img-border"><img src="assets/images/cake-php-training-in-indore.jpg" alt="Cake PHP Training in Indore "></span></div>
            
            <p align="justify">CakePHP is one of the finest MVC model,We provide 100% practical training on cakePHP with live projects,Specially this programme is for professionals who working on core PHP but need salary growth.<br>
<strong>GoWebTech </strong> is <strong>Leading Cake PHP Training Center in indore.</strong>
</p>
          </article>
          <!-- Course Content-->
          <article class="post">
          <h2>CakePHP Course Details</h2>
          <p class="post-meta">Duration : 1 Month<span> | </span>Cake PHP<span> | </span>Cake PHP CMS</p>
          <p class="msg success"><strong>Introduction</strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Introduction of CakePHP</li>
          <li>Why use CakePHP</li>
          <li>Installation Process of CakePHP</li>
          <li>MVC Introduction</li>
          <li>Basic Principles of CakePHP</li>
          <li>CakePHP Structure</li>
          <li>CakePHP Folder Structure</li>
          <li>CakePHP Conventions</li>
          <li>Database Configuration</li>
          <li>Developing with CakePHP</li>
          <li>Controller</li>
          <li>Model</li>
          <li>View</li>
          <li>Data Sources</li>
          <li>The CakePHP Console</li>
          <li>Plug-in</li>
          <li>Global Constant and Function</li>
          <li>Vendor Packages</li>
          <li>Task with CakePHP</li>
          <li>Data Validation</li>
          <li>Pagination</li>
          </ul><p></p>
          </article>
        </section>
      <!-- ============== -->
    </div>

    <div class="col-md-4">    
      <app-sidebar></app-sidebar>
    </div> 
  </div>
</div>  
