<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a routerLink="">Home</a> | <a routerLink="node">{{pageBreadcrumb}}</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      
      <!-- ============ -->
        <section class="main postlist">
          <article class="post">
            <h1 class="alt"><span>{{pageTitle}}</span></h1><br>
            
            <div><span class="img-border"><img src="assets/images/node-js-training-in-indore.png" alt="node-js-training center in indore"></span></div>
            
            <p align="justify">GoWebTech is well known organization in the area of Software Training in Node.js Platform and acknowledged for giving quality education in domains such as Node.js Training
<strong>We Are Leading Institute in Indore For Node.js Training.</strong></p>
          </article>
          <!-- Course Content-->
          <article class="post">
          <h2>Node.js Course Details</h2>
          <p class="post-meta">Duration : 2 Month<span> | </span>Node.js<span> | </span>Node.js Framework </p>
          <p class="msg success"><strong>Introduction</strong></p>
          <p class="msg success"><strong>Environment Setup</strong></p>
          <p class="msg success"><strong>JavaScript and Node.js</strong></p>
          <p class="msg success"><strong>Node Package Manager</strong></p>
          <p class="msg success"><strong>Working with NPM and Packages</strong></p>
          <p class="msg success"><strong>Object-oriented JavaScript</strong></p>
          <p class="msg success"><strong>Callbacks</strong></p>
          <p class="msg success"><strong>Events and Event Loop</strong></p>
          <p class="msg success"><strong>Streams and Buffers</strong></p>
          <p class="msg success"><strong>Express Framework </strong></p>
          <p class="msg success"><strong>Test-Driven Node.js Development </strong></p>
          <p class="msg success"><strong>Synchronous and Asynchronous operation explained</strong></p>
          <p class="msg success"><strong>Node.js and MySQL</strong></p>
          <p class="msg success"><strong>Introduction to MongoDb</strong></p>
          <p class="msg success"><strong>Node.js and MongoDB</strong></p>
          <p class="msg success"><strong>Connecting Node.js to Database</strong></p>
          <p class="msg success"><strong>Mongoose Module </strong></p>
          <p class="msg success"><strong>Writing fast and efficient code</strong></p>
          <p class="msg success"><strong>Creating Rest APIs</strong></p>
          <p class="msg success"><strong>Combining Node.js and AngularJS</strong></p>
          <p class="msg success"><strong>Setting up a continuous deployment workflow</strong></p>
          </article>
        </section>
      <!-- ============== -->
    </div>

    <div class="col-md-4">    
      <app-sidebar></app-sidebar>
    </div> 
  </div>
</div>  