<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a routerLink="">Home</a> | <a routerLink="node">{{pageBreadcrumb}}</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      
      <!-- ============ -->
        <section class="main postlist">
          <article class="post">
            <h1 class="alt"><span>{{pageTitle}}</span></h1><br>
            
            <div><span class="img-border"><img src="assets/images/wordpress-training-in-indore.jpg" alt="Wordpress Training in Indore "></span></div>
            
          <p align="justify">
GoWebTech Leading <strong>Training institute in Indore</strong> to learn <strong>Wordpress</strong> practically.<br>
Wordpress is a highly flexible CMS. This flexibility makes it a bit complex and steepens the learning curve.<br><br>
 Apart from this there are not many reliable sources.
<strong>GoWebTech</strong> has developed a highly specialized corporate training programme.The course is handled by experienced CMS and Wordpress developers.</p>
          </article>
          <!-- Course Content-->
          <article class="post">
          <h2>Wordpress Course Details</h2>
          <p class="post-meta">Duration : 20 Days<span> | </span>Wordpress Blogging<span> | </span>Blog Making in Wordpress</p>

          <p class="msg success"><strong>Introduction</strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Introduction of WordPress</li>
          <li>How to Install WordPress</li>
          <li>Describe the Dashboard</li>
          <li>Define Post, Pages, Category, Media, Menus</li>
          <li>How to create a WordPress Site</li>
          <li>How to Install WordPress Themes</li>
          <li>How to Install WordPress Plugin</li>
          <li>How to Create WordPress Plugin</li>
          <li>How to Update WordPress</li>
          <li>How to Create a Dynamic Template</li>
          <li>WordPress Themes Customization</li>
          <li>Display Post from Category</li>
          <li>Change WordPress URL</li>
          <li>How to Add Video in WordPress</li>
          <li>WordPress Shopping Card</li>
          <li>WP Classified Plugin</li>
          <li>Database Integration in WordPress</li>
          <li>How to apply a Dynamic Page on WordPress Themes</li>
          <li>Creating a Custom Menu in Wordpress</li>
          <li>Creating user in WordPress</li>
          <li>Creating a Dynamic Widgets</li>
          <li>Exploring WordPress Setting</li>
          </ul><p></p>
          </article>
        </section>
      <!-- ============== -->
    </div>

    <div class="col-md-4">    
      <app-sidebar></app-sidebar>
    </div> 
  </div>
</div>  
