<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a routerLink="">Home</a> | <a routerLink="node">{{pageBreadcrumb}}</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      
      <!-- ============ -->
        <section class="main postlist">
          <article class="post">
            <h1 class="alt"><span>{{pageTitle}}</span></h1><br>
            
            <div><span class="img-border"><img src="assets/images/yii-framework-training-indore.jpg" alt="YII framework training in indore | gowebtech"></span></div>
            
      <p align="justify">
GoWebTech Leading <strong>Training institute in Indore</strong> to learn <strong>YII Framework</strong> practically.<br>
Zend Framework is a highly flexible PHP framework. This flexibility makes it a bit complex and steepens the learning curve.<br><br>
 Apart from this there are not many reliable sources.
<strong>GoWebTech</strong> has developed a highly specialized corporate training programme.The course is handled by experienced PHP and YII Framework developers.</p>
          </article>
          <!-- Course Content-->
          <article class="post">
          <h2>YII Framework Course Details</h2>
          <p class="post-meta">Duration  : 1 Month<span> | </span>Live Training In YII FrameWork <span> | </span> YII Framework Training </p>

          <p class="msg success"><strong>Introduction</strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Why is YII Framework?</li>
          <li>What is YII best for?</li>
          <li>YII Comparison with other Frameworks</li>
          </ul>
          <p></p>

          <p class="msg success"><strong>YII Installation</strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Installation Guide</li>
          </ul>
          <p></p>

          <p class="msg success"><strong>Creating First YII Application</strong></p>
          <p class="msg success"><strong>Connection to Database</strong></p>
          <p class="msg success"><strong>Implementing CRUD Operations</strong></p>
          <p class="msg success"><strong>Referencing Files and Directories</strong></p>

          <p class="msg success"><strong>MVC Fundamentals</strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Typical Workflow</li>
          <li>Entry Script</li>
          <li>Application</li>
          <li>Controller</li>
          <li>Model </li>
          <li>View</li>
          <li>Components</li>
          <li>Path alias and Namespace</li>
          <li>Conventions</li>
          <li>Development Workflow</li>
          </ul>
          <p></p>
          <p class="msg success"><strong>Working with Database</strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Data Access Object (DAO)</li>
          <li>Active Record</li>
          <li>Relational Active Record</li>
          </ul>
          <p></p>
          <p class="msg success"><strong>Caching</strong></p>
          <p class="msg success"><strong>Extending YII</strong></p>

          <p class="msg success"><strong>Special Topic</strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Automatic Code Generation</li>
          <li>URL Management</li>
          <li>Theming </li>
          <li>Logging</li></ul>
          <p></p>


          <p class="msg info"><strong>A Live Project Using YII Framework</strong></p>                    
          </article>
        </section>
      <!-- ============== -->
    </div>

    <div class="col-md-4">    
      <app-sidebar></app-sidebar>
    </div> 
  </div>
</div>  
