<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4><span>{{pageTitle}}</span></h4>
      
      <div class="row">
        <div class="col-md-3">
          <div class="img"><img src="assets/images/web-developmen-services.jpg"></div>
          <div class="title"><h3><a routerLink="/web-development">Web Development</a></h3></div>
          <div class="content">We have a team of proficient and dedicated website developers who are skilled at HTML5, CSS3, PHP, JavaScript, jQuery, Ajax, C#, ASP.Net MVC technologies to develop products pertinent to your needs.</div>
        </div>

        <div class="col-md-3">
          <div class="img"><img src="assets/images/web-promotion.jpg"></div>
          <div class="title"><h3><a routerLink="web-promotion">Web Promotion</a></h3></div>
          <div class="content">GoWebTech, the leading SEO service provider in Inndia.The importance of SEO to a website and hence deploys SEO strategies that boost up your search engine rankings,organic traffic and gets productive.</div>
        </div>

        <div class="col-md-3">
          <div class="img"><img src="assets/images/ecommerce.jpg"></div>
          <div class="title"><h3><a routerLink="ecommerce">eCommerce</a></h3></div>
          <div class="content">We are an e-commerce company in India who specialize in building performing online-stores for our clients. We integrate a secured payment gateway which is essential to build up the credibility of your site.</div>
        </div>

        <div class="col-md-3">
          <div class="img"><img src="assets/images/training-in-indore.jpg"></div>
          <div class="title"><h3><a routerLink="industrial-training">Industrial Training</a></h3></div>
          <div class="content">GoWebTech offer this program industrial/Live training in Indore for those students of BCA, MCA, B tech, M Tech, B.Sc (IT) and M.Sc (IT). The procedure of industrial training will be follow by our live project.</div>
        </div>

      </div>

    </div>

   
  </div>
</div>  