input {
    width: 94%;
    max-width: 94%;
    margin: 5px 0;
}

input, textarea, select {
    padding: 10px 3%;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #fff;
}

aside h3{
    border-bottom: 1px solid #dfdfdf;
    color: #3f3f3f;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 1em;
}

aside h3 span{
    border-bottom: 2px solid #15bad3;
    display: inline-block;
    margin-bottom: -1px;
    padding: 8px 0;
}





.social ul li a, ul.social li a {
    display: inline-block;
    overflow: hidden;
    width: 24px;
    height: 24px;
    background: url("http://gowebtech.co.in/images/social.png");
    text-indent: -500em;
    opacity: 0.3;
}


.social a.facebook {
    background-position: -32px 0 !important;
}
.social a.twitter {
    background-position: -64px 0 !important;
}
.social a.googleplus {
    background-position: -384px 0 !important;
}
.social a.rss {
    background-position: -128px 0 !important;
}

aside .social li {
    margin-right: 5px;
}
aside section ul li {
    overflow: hidden;
    margin: 0;
    color: #747474;
}
.social ul li, ul.social li {
    display: inline-block;
    margin: 0 0 0 5px;
    list-style: none;
    width: 24px;
    height: 24px;
}
aside section ul {
    list-style: none;
    padding-left: 0;
    font-size: 0.923em;
}