<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a routerLink="">Home</a> | <a routerLink="node">{{pageBreadcrumb}}</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      
      <!-- ============ -->
        <section class="main postlist">
          <article class="post">
            <h1 class="alt"><span>{{pageTitle}}</span></h1><br>
            
            <div><span class="img-border"><img src="assets/images/drupal-live-training-in-indore.jpg" alt="drupal live training in indore"></span></div>
            
            <p align="justify">
Drupal Development is an introductory course in Drupal. <strong>GoWebTech</strong> offers Drupal Development training course where students would receive hands-on training in Drupal CMS and be able to use Drupal and extend it further to match project requirements.<br>
<strong>GoWebTech</strong> is Best IT Training Center For Drupal in Indore.Join Us Today For Drupal CMS Training.
</p>
          </article>
          <!-- Course Content-->
          <article class="post">
          <h2>Drupal Course Details</h2>
          <p class="post-meta">Duration : 1 Month<span> | </span>Drupal Project<span> | </span>Live Training in Drupal</p>
          <p class="msg success"><strong>Introduction</strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Introduction of Drupal</li>
          <li>Themes Installation</li>
          <li>Themes Configuration</li>
          <li>Basic Principles of Drupal</li>
          <li>Drupal Hook system, Menu system &amp; Form API</li>
          <li>Database Configuration</li>
          <li>Describe Session </li>
          <li>File Uploading in Drupal</li>
          <li>Global Variable </li>
          <li>How to include CSS, Jquery, JavaScript in Drupal</li>
          </ul><p></p>
          <p class="msg info"><strong>A Live Project Using Drupal</strong></p> 
          </article>
        </section>
      <!-- ============== -->
    </div>

    <div class="col-md-4">    
      <app-sidebar></app-sidebar>
    </div> 
  </div>
</div>  
