<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a routerLink="">Home</a> | <a routerLink="node">{{pageBreadcrumb}}</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      
      <!-- ============ -->
        <section class="main postlist">
          <article class="post">
            <h1 class="alt"><span>{{pageTitle}}</span></h1><br>
            
            <div><span class="img-border"><img src="assets/images/magento-training-indore.jpg" alt="magento training in indore"></span></div>
            
            <p align="justify">
GoWebTech Leading <strong>Training institute in Indore</strong> to learn <strong>Magento</strong> practically.<br>
Magento is a highly flexible Shopping CMS. This flexibility makes it a bit complex and steepens the learning curve.<br><br>
 Apart from this there are not many reliable sources.
<strong>GoWebTech</strong> has developed a highly specialized corporate training programme.The course is handled by experienced CMS and Magento developers.</p>
          </article>
          <!-- Course Content-->
          <article class="post">
          <h2>Magento Course Details</h2>
          <p class="post-meta">Duration : 1 Month<span> | </span>Magento Live Project<span> | </span>Industrial Training in Magento</p>

          <p class="msg success"><strong>Introduction</strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Introduction of Magento</li>
          <li>Downloading of Magento</li>
          <li>How to install Magento Themes</li>
          <li>How to install Magento Modules</li>
          <li>Update Magento Modules</li>
          <li>Create a Magento website</li>
          <li>Magento Product</li>
          <li>How to add products in Magento</li>
          <li>How to add images to your products</li>
          <li>How to manage product attributes</li>
          <li>How to manage product tags</li>
          <li>Magento Payment Modules</li>
          <li>Magento Shipping Modules</li>
          <li>Magento CMS Tutorial</li>
          <li>How to Import Products in Magento</li>
          <li>Magento Products Quantity</li>
          <li>Managing the Magento Categories</li>
          <li>How to create a category in Magento</li>
          <li>How to add a category image in Magento</li>
          <li>How to list all available categories in Magento</li>
          <li>Manage Products Price</li> 
          <li>How to configure Magento order options</li>
          <li>How to manage order emails</li>
          <li>How to make an order in Magento</li>
          <li>How to Manage order in Magento</li>
          <li>How to manage customer in Magento</li>
          <li>Magento Newsletter</li>
          <li>Magento Google Analytics</li>
          <li>Magento Widgets </li>
          <li>Configure Magento with SSL</li>
          <li>Magento Files and Folders Structure</li>
          <li>Magento Encryption Key</li>
          </ul><p></p>
          <p class="msg info"><strong>A Live Project Using Magento</strong></p> 
          </article>
        </section>
      <!-- ============== -->
    </div>

    <div class="col-md-4">    
      <app-sidebar></app-sidebar>
    </div> 
  </div>
</div>  