<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a routerLink="">Home</a> | <a routerLink="node">{{pageBreadcrumb}}</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      
      <!-- ============ -->
        <section class="main postlist">
          <article class="post">
            <h1 class="alt"><span>{{pageTitle}}</span></h1><br>
            
            <div><span class="img-border"><img src="assets/images/dotnet-training-in-indore.jpg" alt="framework training in indore | gowebtech"></span></div>
            
            <p align="justify">GoWebTech Leading <strong>Training institute in Indore</strong> to learn <strong>Zend Framework</strong> practically.<br>
Zend Framework is a highly flexible PHP framework. This flexibility makes it a bit complex and steepens the learning curve.<br><br>
 Apart from this there are not many reliable sources.
<strong>GoWebTech</strong> has developed a highly specialized corporate training programme.The course is handled by experienced PHP and Zend Framework developers.</p>
          </article>
          <!-- Course Content-->
          <article class="post">
          <h2>C#.NET Course Details</h2>
          <p class="post-meta">Duration : 1 Month<span> | </span>Live Training In C#.NET<span> | </span> ASP.NET Training</p>
          <p class="msg success"><strong>C#.NET </strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Introducing C# and the .NET Platform</li>
          <li>Building C# Applications</li>
          <li>Core C# Programming Constructs</li>
          <li>Defining Encapsulated Class Types</li>
          <li>Understanding Inheritance and Polymorphism</li>
          <li>Understanding Structured Exception Handling</li>
          <li>Understanding Object Lifetime</li>
          <li>Advanced C# Programming Constructs</li>
          <li>Working with Interfaces</li>
          <li>Collections and Generics</li>
          <li>Delegates, Events, and Lambdas</li>
          <li>Indexers, Operators, and Pointers</li>
          <li>C# 2008 Language Features</li>
          <li>Programming with WPF Controls</li></ul><p></p>

          <p class="msg success"><strong>ASP.NET </strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Introducing ASP.NET and the .NET Platform</li>
          <li>ASP.NET Basics</li>
          <li>Constructing ASP.NET Web Pages</li>
          <li>Building Web Applications</li>
          <li>Using the Validation Controls</li>
          <li>Database Design and Development</li>
          <li>MS SQL Basics</li>
          <li>ADO.NET</li>
          <li>Data Lists</li>
          <li>Advanced Data Access</li>
          <li>Security and User Authentication</li>
          <li>Working with Files and Email</li>
          <li>ASP.NET AJAX</li>
          <li>Web Control Reference</li>
          <li>Deploying ASP.NET Websites</li> 
          </ul><p></p>
          <p class="msg info"><strong>A Live Project Using Zend Framework</strong></p> 
          </article>
        </section>
      <!-- ============== -->
    </div>

    <div class="col-md-4">    
      <app-sidebar></app-sidebar>
    </div> 
  </div>
</div>  
