<div class="breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a routerLink="">Home</a> | <a routerLink="node">{{pageBreadcrumb}}</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      
      <!-- ============ -->
        <section class="main postlist">
          <article class="post">
            <h1 class="alt"><span>{{pageTitle}}</span></h1><br>
            
            <div><span class="img-border"><img src="assets/images/pl-sql-training-indore.jpg" alt="leading oracle pl-sql training center in indore"></span></div>
            
            <p align="justify">GoWebTech is well known organization in the area of Software Training in Oracle Platform and acknowledged for giving quality education in domains such as Oracle PL/SQL Training.
<strong>We Are Leading Institute in Indore For Oracle PL/SQL Training.</strong></p>
          </article>
          <!-- Course Content-->
          <article class="post">
          <h2>Oracle Database Course Details</h2>
          <p class="post-meta">Duration : 2 Month<span> | </span>Oracle<span> | </span>PL/SQL</p>
          <p class="msg success"><strong>The Oracle database Environment</strong></p>
          <p align="justify">Reviewing basic architecture concepts, Oracle 10g Architecture,Main features of 9i and 10g</p>
          <p class="msg success"><strong>Basic SQL*PLUS commands </strong></p>
          <p align="justify">Using script files, START, @, GET , SAVE, LIST, PROMPT, PAUSE, ACCEPT, DEFINE, SPOOL</p>
          <p class="msg success"><strong>Basic SELECT Statement </strong></p>
          <p align="justify">Writing the statement in sqlplus, Running the SELECT statement </p>
          <p class="msg success"><strong>Hibernate</strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Hibernate Introduction </li>
          <li>QRM Using Hibernate</li>
          </ul><p></p>
          <p class="msg success"><strong>Ordering the output </strong></p>
          <p align="justify">Single Column, Descending order, Multiple column sort</p>
          <p class="msg info"><strong>Conditional retrieval of data </strong></p>
          <p align="justify">Working with complex conditions, AND OR NOT LIKE BETWEEN </p>

          <p class="msg success"><strong>Working with variables </strong></p>
          <p align="justify">Creating and using variables, Command substitution</p>

          <p class="msg success"><strong>Pseudo columns and functions </strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Pseudo Columns, Rownum, Sysdate, User &amp; UID, the Dual Table </li>
          <li>Working with character functions <br>
          UPPER, LOWER, INITCAP, RPAD(), RTRIM(), SUBSTR(), INSTR(), TRANSLATE(), REPLACE(), GREATEST(), LEAST(), DECODE 
          </li>
          <li>Working with date functions<br>
          TO_CHAR(), TO_DATE(), MONTHS_BETWEEN(), ADD_MONTHS(), LAST_DAY(), NEXT_DAY() </li>
          </ul>
          <p></p>

          <p class="msg success"><strong>Using non-character function </strong></p>
          <p align="justify">ROUND(), TRUNC(), SIGN(), Working with multiple tables, Different type of Joins, Writing Outer Joins </p>

          <p class="msg success"><strong>Using the SET operators </strong></p>
          <p align="justify">Union, Intersect, Minus</p>


          <p class="msg success"><strong>Aggregating data using group functions </strong></p>
          <p align="justify">GROUP BY, HAVING </p>

          <p class="msg success"><strong>SQL Functions and Expressions</strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Eliminating duplicates with DISTINCT arithmetic expressions</li>
          <li>Replacing null values</li>
          <li>Literals, concatenation, other string functions</li>
          <li>Numeric operations, including rounding</li>
          <li>Date and time functions</li>
          <li>Nested table expressions</li>
          <li>Case logic</li>
          <li>Other expressions in specific dbms Products</li>
          </ul><p></p>


          <p class="msg success"><strong>SQL Joins</strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Inner joins with original and SQL 92 syntax</li>
          <li>Table aliases</li>
          <li>Left, right and full outer joins</li>
          <li>Self-joins</li>
          </ul><p></p>

          <p class="msg success"><strong>SQL Subqueries and Unions</strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Intersection with IN and EXISTS</li>
          <li>Subqueries</li>
          <li>Difference with NOT IN and NOT EXISTS subqueries</li>
          <li>The purpose and usage of UNION and UNIONALL</li>
          </ul>
          <p></p>

          <p class="msg success"><strong>Transaction Control Language </strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Rollback</li>
          <li>Commit</li>
          <li>Savepoint </li>
          </ul>
          <p></p>


          <p class="msg success"><strong>Processing hierarchies </strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Creating the Tree structure</li>
          <li>LEVEL</li>
          <li>CONNECT BY </li>
          </ul>
          <p></p>


          <p class="msg success"><strong>Data Manipulation Language </strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>INSERT</li>
          <li>UPDATE</li>
          <li>DELETE</li>
          </ul>
          <p></p>

          <p class="msg success"><strong>Data Definition Language </strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>CREATE</li>
          <li>TRUNCATE</li>
          <li>ALTER</li>
          <li>DROP</li>
          <li>RENAME</li>
          <li>DESCRIBE </li>
          </ul>
          <p></p>

          <p class="msg success"><strong>PL/SQL Course Content </strong></p>
          <p align="justify">
          </p><ul style="font-family:'Open Sans',sans-serif,arial;">
          <li>Advantages of PL/SQL</li>
          <li>PL/SQL Variables</li>
          <li>PL/SQL Constants</li>
          <li>PL/SQL Records</li>
          <li>PL/SQL Conditional Statements</li>
          <li>PL/SQL Iterative Statements</li>
          <li>PL/SQL Cursors</li>
          <li>PL/SQL Explicit Cursors</li>
          <li>PL/SQL Procedures</li>
          <li>PL/SQL Functions</li>
          <li>Parameters-Procedure, Function</li>
          <li>PL/SQL Exception Handling</li>
          <li>PL/SQL Triggers</li>
          </ul>
          <p></p>
          </article>
        </section>
      <!-- ============== -->
    </div>

    <div class="col-md-4">    
      <app-sidebar></app-sidebar>
    </div> 
  </div>
</div>  
